*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(https://2.downloader.disk.yandex.com.tr/preview/98274f643ce608666f5c8f33b36fb7a6c1e8705763100d490fcfda2e4d27ad14/inf/evVQR1kLG6mWZdGiHwpdGT_luSHxlm5XmLt5sbP4bGEHOFcOtRKoKyM0vO2iq1g11dEijujX4JxRw2XEwGdpzQ%3D%3D?uid=1714582569&filename=background.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1714582569&tknv=v2&size=1920x942);
    background-size: cover;
    
}
nav{
    height: 10vh;
    width: auto;
    background-color: #222222;
    color: rgb(255, 248, 248);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    font-size: 20px;

}
a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Figerona Regular;
}
a:hover{
    color: aqua;
}

img{
    height: 175px;
    width: 300px;
    margin-left: -90px;
}

#dy{
    object-fit: container;

    width: 750px;
    height: 400px;
    margin-left: 350px;
}
.fab {
    padding: 8px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-left: 15px;
}
.fab:hover {
    opacity: 0.8;
}
.fa-facebook-f {
    background: #3B5998;
    color: white;
}
#insta{
    position: absolute;
    top: 410px;
    left: 750px;
    right: 250px;
}
#twit{
    position: fixed;
    top: 410px;
    left: 700px;
    right: 100px;
}
#you{
    position: fixed;
    top: 410px;
    left: 650px;
    right: 100px;
}


@import "https://fonts.googleapis.com/css?family=Roboto:500";
.sag-icon-bar{position:fixed;top:30%;right:0;width:50px;font-family: 'Roboto', 'sans-serif';z-index:99;}
.sag-icon-bar ul {list-style-type: none;margin: 0;padding: 0;display:flex;flex-direction:column}
.sag-icon-bar ul li{padding:10px}
.sag-icon-bar ul li.s1{background:#2db842;border-radius:10px 0 0 0}
.sag-icon-bar ul li.s2{background:#232323}
.sag-icon-bar ul li.s3{width:200px;line-height:35px;background:#fe9301;border-radius:10px 0 0 0;letter-spacing:1px;
    font-size:22px;font-weight:500;transform:rotate(-90deg) translateX(-100%);transform-origin:0 0;}
.sag-icon-bar ul li.s1:hover{background:#25c73d}
.sag-icon-bar ul li.s2:hover{background:#383838}
.sag-icon-bar ul li.s3:hover{background:#e08100}
.sag-icon-bar ul li a{color:#fff;display: flex;align-items: center;justify-content: center;text-decoration:none}
.sag-icon-bar ul li a i{font-size:24px;color:#fff}
.sag-icon-bar ul li.s3 a i{margin-right:5px}

@media only screen and (max-width: 560px) {
.sag-icon-bar{top:auto;bottom:0;width:100%}
.sag-icon-bar ul {flex-direction:row}
.sag-icon-bar ul li.s1{width:25%;border-radius:0}
.sag-icon-bar ul li.s2{width:25%}
.sag-icon-bar ul li.s3{font-size:18px;border-radius:0;line-height:23px;width:50%;transform:unset}
}
